<!DOCTYPE html>
<html lang="en-US">

<head>

  <!-- standard page requirements
  ========================================= -->
  <meta charset="utf-8">
  <title>About - Carissa Allen - Full Stack Developer</title>
  <meta name="description" content="The Digital & Design portfolio of Carissa Allen, a Full Stack Developer." />

  <!-- dns-prefetch
  ========================================= -->
  <link rel="dns-prefetch" href="//cdnjs.cloudfare.com">

  <!-- favicons
  ========================================= -->
  <link rel="browser icon" href="../images/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../images/favicon/site.webmanifest">

  <!-- bootstrap CDN
  ========================================= -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- fonts
  ========================================= -->
  <link rel="stylesheet" href="https://use.typekit.net/dqg6vtw.css">

  <!-- CSS 
  ========================================= -->
  <link rel="stylesheet" href="../css/main.css">

  <!-- bootstrap script tags
  ========================================= -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</head>

<body>


  <!-- navbar
  =========================================================================== -->
  <nav class="navbar navbar-expand-md navbar-light navbar-custom">
    <a href="http://carissaallen.com/portfolio/" class="navbar-left">
      <img class="logo" src="../images/logo/icon-initials.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" href="../images/carissa-software-engineer-resume.pdf" target="_blank">Resume</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- about me section
  =========================================================================== -->
  <section id="about">
    <div class="grid-overlay">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div class="about-section-1" style="visibility: inherit; opacity: 1;">
      <div class="grid-12 pad-top">
        <div class="about-main-title">
          <h2>About me</h2>
        </div>
        <div class="about-details-wrapper">
          <div class="skills-details-1" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <h5>What Do I Do</h5>
            <p>Java</p>
            <p>Python</p>
            <p>AWS</p>
            <p>HTML5</p>
            <p>CSS3</p>
            <p>SQL</p>
          </div>
          <div class="skills-details-2" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <h5>I Also Do</h5>
            <p>Git</p>
            <p>Unit Testing</p>
            <p>Vim</p>
          </div>
          <div class="about-quote about-info-1">
            <h3 style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              "Carissa is a wonderfully talented developer
              and she's also a true gem."
            </h3>
            <p class="about-subtitle margin-under"
              style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              <em>June, Carissa's Mom</em>
            </p>
            <p style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              My intellectual curiosity drives me to be a lifelong learner.
              I am currently pursuing an M.S. in Computer Science, and I am hungry
              for opportunities to learn in various facets of the industry.
              My goal is to become a valuable software engineer at a company where
              my contributions count toward productive outcomes, and I can continue
              to learn and evolve bit-by-bit (pun intended).
            </p>
          </div>
        </div>
        <div class="box margin-under" style="perspective: 500px;">
          <img class="about-image" src="../images/profile-fire-lookout.jpg"
            alt="Carissa Allen at a fire lookout in Oregon">
        </div>
      </div>
  </section>
  <!-- </div> -->


  <!-- footer
  =========================================================================== -->
  <div class="footer">
    <div class="grid-wrapper">
      <div class="contact-info">
        <p>
          <a href="tel:3604024000">360 4024000</a>
        </p>
        <p>
          <a href="mailto:carissamaeallen@gmail.com">carissamaeallen@gmail.com</a>
        </p>
      </div>
      <div class="social">
        <a href="https://www.linkedin.com/in/carissamaeallen">
          <img class="logo-sm" src="../images/icons/iconmonstr-linkedin-3.svg">
        </a>
      </div>
    </div>
  </div>
</div>
</section>


  <!-- scripts
  =========================================================================== -->
  <script type="text/javascript"
    src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
</body>

</html>