<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- standard page requirements
  ========================================= -->
    <meta charset="utf-8">
    <title>About - Carissa Allen - Software Engineer</title>
    <meta name="description" content="The Digital & Design portfolio of Carissa Allen, a Software Engineer." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- dns-prefetch
  ========================================= -->
    <link rel="dns-prefetch" href="//cdnjs.cloudfare.com">

    <!-- favicons
  ========================================= -->
    <link rel="browser icon" href="../images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon/site.webmanifest">

    <!-- bootstrap CDN
  ========================================= -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fonts
  ========================================= -->
    <link rel="stylesheet" href="https://use.typekit.net/dqg6vtw.css">

    <!-- CSS 
  ========================================= -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- bootstrap script tags
  ========================================= -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</head>

<body>


    <!-- navbar
  =========================================================================== -->
    <nav class="navbar navbar-expand-md navbar-light navbar-custom">
        <a href="http://carissamae.com" class="navbar-left">
            <img class="logo" src="../images/logo/icon-initials.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="../images/CarissaAllen_SoftwareEngineer_Resume.pdf" target="_blank">Resume</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link active" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- contact section
  =========================================================================== -->
    <section id="contact">
        <div class="grid-overlay">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="grid-12 pad-top">
            <div class="contact-main-title">
                <h2>
                    <div style="display: block; text-align: start; position: relative;">
                        <div
                            style="display: block; text-align: start; position: relative; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            My dream is to work at a company where I can contribute to and benefit from a culture of
                            continuous learning. To work collaboratively in an agile team environment. To be safe to
                            fail, and encouraged to innovate.
                            If it sounds like I am the right fit for your team, I'd love to hear from you. </div>
                    </div>
                </h2>
            </div>
        </div>
    </section>


    <!-- footer
  =========================================================================== -->
    <div class="footer contact-footer">
        <div class="grid-wrapper">
            <div class="contact-info">
                <p>
                    <a href="tel:3604024000">360 4024000</a>
                </p>
                <p>
                    <a href="mailto:carissamaeallen@gmail.com">carissamaeallen@gmail.com</a>
                </p>
            </div>
            <div class="social contact-social">
                <a href="https://www.github.com/carissaallen">
                    <img class="logo-sm" src="../images/icons/iconmonstr-github-3.svg">
                </a>
                <a href="https://www.linkedin.com/in/carissamaeallen">
                    <img class="logo-sm" src="../images/icons/iconmonstr-linkedin-3.svg">
                    <a href="https://twitter.com/carissamaeallen">
                        <img class="logo-sm" src="../images/icons/iconmonstr-twitter-3.svg">
                    </a>
            </div>
        </div>
    </div>
    </div>
    </section>


    <!-- scripts
  =========================================================================== -->
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>

</html>